In [ ]:
Data Collection

In this phase we will collect customer rating data from this airline website called 
skytrax

In [132]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [133]:
#create an empty list of all reviews
reviews = []

#create an empty list to collect rating star
stars = []

#create an empty list to collect dates
dates =[]

#create an empty list to collect the country the reviewer is from
country = []

In [141]:
for i in range(1, 39):
    page = requests.get(f'https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=20')
    
    soup = BeautifulSoup(page.content, 'html.parser')
    
    for item in soup.find_all("div", class_= "text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_= "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
   #dates
    for item in soup.find_all("time"):
        dates.append(item.text)
    
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

In [142]:
#check the lenght of total reviews extracted
len(reviews)

3740

In [143]:
len(country)

3740

In [144]:
#check the kength of stars
stars = stars[:3740]

In [145]:
#create a datafram from these list of data

df = pd.DataFrame({"reviews":reviews, "stars":stars, "date":dates, "country":country})

In [146]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | First our morning flight wa...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,28th February 2023,Canada
1,✅ Trip Verified | Although it was a bit uncom...,1,27th February 2023,United Kingdom
2,✅ Trip Verified | Boarding was decently organ...,8,27th February 2023,Belgium
3,✅ Trip Verified | Boarding on time and departu...,6,27th February 2023,Belgium
4,✅ Trip Verified | My original flight was canc...,7,26th February 2023,United Kingdom

In [148]:
df.shape

(3740, 4)

In [150]:
# Export the data into csv file
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")